
# **ECSE 446/546 Tutorial 0**

# Part 1: Basics

## Section 1: Python lists

In [2]:
# Python provides a way to store things in a list

numbers = [1, 2, 3, 4, 5]
print("numbers list        : ", numbers)
print("number at index 0   : ", numbers[0])
print("number at last index: ", numbers[-1])

numbers list        :  [1, 2, 3, 4, 5]
number at index 0   :  1
number at last index:  5

In [3]:
# Python also provides basic things like adding or removing elements

numbers.append(6)
print("numbers after appending: ",numbers)

popped_number = numbers.pop()
print("numbers after popping  : ",numbers)
print("popped element         : ",popped_number)

numbers after appending:  [1, 2, 3, 4, 5, 6]
numbers after popping  :  [1, 2, 3, 4, 5]
popped element         :  6

In [4]:
# Finally, you can easily get sections of lists using list slicing

print("numbers       :",numbers)
print("numbers [1:3] :",numbers[1:3])
print("numbers [1:]  :",numbers[1:])
print("numbers [:3]  :",numbers[:3])
print("numbers [:-1] :",numbers[:-1])
print("numbers [-2:] :",numbers[-2:])

numbers       : [1, 2, 3, 4, 5]
numbers [1:3] : [2, 3]
numbers [1:]  : [2, 3, 4, 5]
numbers [:3]  : [1, 2, 3]
numbers [:-1] : [1, 2, 3, 4]
numbers [-2:] : [4, 5]

Biggest issue: no built-in way to perform math on a list. By default, it would require messy looping.

## Section 2: Numpy

Numpy is a high performance python library that supports multi-dimensional arrays and many, many math operations.

More info: https://numpy.org/doc/stable/

### Initialization and shapes

In [5]:
import numpy as np

In [8]:
# You can manually initialize a numpy array
numbers = np.array([1, 2, 3, 4, 5])

print("numbers :", numbers)

# Or convert an existing list into a numpy array
numbers = [1, 2, 3, 4, 5]
numbers = np.asarray(numbers)

print("numbers :", numbers)

numbers : [1 2 3 4 5]
numbers : [1 2 3 4 5]

In [9]:
# .shape attribute allows you to know the shape of the array
print("numbers shape: ", numbers.shape)

two_d_numbers = np.array([[1, 2, 3], [4, 5, 6]])

print("two_d_numbers : \n", two_d_numbers)
print("two_d_numbers shape:", two_d_numbers.shape)

numbers shape:  (5,)
two_d_numbers :
 [[1 2 3]
 [4 5 6]]
two_d_numbers shape: (2, 3)

In [10]:
# Arrays can be initialized in many ways

two_d_zeros = np.zeros((2, 3)) # initialized with all 0s
two_d_ones = np.ones((2, 3)) # initialized with all 1s
two_d_five = np.full((2, 3), 5) # initialized with all 5s
two_d_random = np.random.random((2, 3)) # initialized with uniform random values

print("two_d_zeros: \n", two_d_zeros)
print("two_d_ones: \n", two_d_ones)
print("two_d_five: \n", two_d_five)
print("two_d_random: \n", two_d_random)

# You can also use a different array's shape for initialization

two_d_random_2 = np.random.random(two_d_numbers.shape)
print("two_d_random_2: \n", two_d_random_2)

two_d_zeros:
 [[0. 0. 0.]
 [0. 0. 0.]]
two_d_ones:
 [[1. 1. 1.]
 [1. 1. 1.]]
two_d_five:
 [[5 5 5]
 [5 5 5]]
two_d_random:
 [[0.00161342 0.95769618 0.24973735]
 [0.32920368 0.62377358 0.62204351]]
two_d_random_2:
 [[0.54223625 0.89298903 0.84635117]
 [0.59258671 0.75462732 0.80739442]]

In [11]:
# Array shape can be changed after initialization

digits = np.arange(0, 10)
print("digits: \n", digits)
digits_r = digits.reshape(5, 2)
print("digits reshape: \n", digits_r)

digits:
 [0 1 2 3 4 5 6 7 8 9]
digits reshape:
 [[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]

In [12]:
# .T gives you the Transpose of an array

print("original: \n", digits_r)
print("transpose :\n", digits_r.T)

print("transpose shape :",digits_r.T.shape)

original:
 [[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]
transpose :
 [[0 2 4 6 8]
 [1 3 5 7 9]]
transpose shape : (2, 5)

In [13]:
# Numpy arrays can be sliced just like python lists

numbers = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]])

print("numbers : \n", numbers)

print("numbers [1:3] : \n",numbers[1:3])
print("numbers [1:3, 1:3]: \n",numbers[1:3, 1:3])
print("numbers [1:3, :] : \n",numbers[1:3, :])
print("numbers [:, -2:] : \n",numbers[:, -2:])

numbers :
 [[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]
numbers [1:3] :
 [[4 5 6]
 [7 8 9]]
numbers [1:3, 1:3]:
 [[5 6]
 [8 9]]
numbers [1:3, :] :
 [[4 5 6]
 [7 8 9]]
numbers [:, -2:] :
 [[ 2  3]
 [ 5  6]
 [ 8  9]
 [11 12]]

In [14]:
# Slices DO NOT COPY the data of the original array
# Modifying the slice will modify the original array

print("numbers : \n", numbers)

temp = numbers[1:3, 1:3]

print("temp : \n",temp)

temp[0, 0] = -33
temp[0, 1] = -44
temp[1, 0] = -55
temp[1, 1] = -66

print("temp : \n",temp)
print("numbers : \n",numbers)

numbers :
 [[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]
temp :
 [[5 6]
 [8 9]]
temp :
 [[-33 -44]
 [-55 -66]]
numbers :
 [[  1   2   3]
 [  4 -33 -44]
 [  7 -55 -66]
 [ 10  11  12]]

### Datatypes

In [15]:
x = np.array([1, 2])  # Let numpy choose the datatype
y = np.array([1.0, 2.0])  # Let numpy choose the datatype
z = np.array([1, 2], dtype=np.int64)  # Force a particular datatype

print("x type: ", x.dtype)
print("y type: ", y.dtype)
print("z type: ", z.dtype)

x type:  int64
y type:  float64
z type:  int64

### Math operations

Numpy allows us to easily perform math operations on its arrays.

In [16]:
x = np.array([[1, 2, 3], [4, 5, 6]])

y = np.array([[7, 8, 9], [10, 11, 12]])

print(x)
print(y)

[[1 2 3]
 [4 5 6]]
[[ 7  8  9]
 [10 11 12]]

In [17]:
# Element- wise operations

print("Addition: \n", x + y)
print("Subtraction: \n", x - y)

print("Multiplication: \n", x * y)
print("Division: \n", x / y)

print("Square root: \n", np.sqrt(x))
print("Exponents: \n", np.power(x, 0.5))
print(np.power(x, 2))

Addition:
 [[ 8 10 12]
 [14 16 18]]
Subtraction:
 [[-6 -6 -6]
 [-6 -6 -6]]
Multiplication:
 [[ 7 16 27]
 [40 55 72]]
Division:
 [[0.14285714 0.25       0.33333333]
 [0.4        0.45454545 0.5       ]]
Square root:
 [[1.         1.41421356 1.73205081]
 [2.         2.23606798 2.44948974]]
Exponents:
 [[1.         1.41421356 1.73205081]
 [2.         2.23606798 2.44948974]]
[[ 1  4  9]
 [16 25 36]]

In [18]:
# Dot product:

print("np.dot(x, y.T) \n", np.dot(x, y.T))
print("x.dot(y.T) \n",x.dot(y.T))
print("x @ y.T \n", x @ y.T)


# And many more! Cross products, sin, cos, max, min, norm, etc. See the documentation

np.dot(x, y.T)
 [[ 50  68]
 [122 167]]
x.dot(y.T)
 [[ 50  68]
 [122 167]]
x @ y.T
 [[ 50  68]
 [122 167]]

### Broadcasting

Two numpy arrays don't need the exact same shape in order to perform operations together! The shape just needs to be compatible.

In [19]:
x = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]) # shape: (4 , 3)
y = np.array([100, 200, 300])                                 # shape: (3, )

print("x: \n", x)
print("y: \n", y)
print("x + y: \n", x + y)
print("x - y: \n",x - y)
print("x * y: \n",x * y)
print("x / y: \n",x / y)

x:
 [[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]
y:
 [100 200 300]
x + y:
 [[101 202 303]
 [104 205 306]
 [107 208 309]
 [110 211 312]]
x - y:
 [[ -99 -198 -297]
 [ -96 -195 -294]
 [ -93 -192 -291]
 [ -90 -189 -288]]
x * y:
 [[ 100  400  900]
 [ 400 1000 1800]
 [ 700 1600 2700]
 [1000 2200 3600]]
x / y:
 [[0.01  0.01  0.01 ]
 [0.04  0.025 0.02 ]
 [0.07  0.04  0.03 ]
 [0.1   0.055 0.04 ]]

In [20]:
x = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]) # shape: (4, 3)
y = np.array([100, 200, 300, 400])                                    # shape: (4, )
# NOT COMPATIBLE

# print("x \n", x)
# print("y \n", y)
# print("x + y \n", x + y)
# print("x - y \n",x - y)
# print("x * y \n",x * y)
# print("x -:- y \n",x / y)

# operands could not be broadcast together with shapes (4,3) (4,)

# The shape of the second array must be changed
# (4, ) --> (4, 1)
y = y[:, np.newaxis]
print("x: \n", x)
print("y: \n", y)
print("x + y: \n", x + y)
print("x - y: \n",x - y)
print("x * y: \n",x * y)
print("x / y: \n",x / y)

x:
 [[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]
y:
 [[100]
 [200]
 [300]
 [400]]
x + y:
 [[101 102 103]
 [204 205 206]
 [307 308 309]
 [410 411 412]]
x - y:
 [[ -99  -98  -97]
 [-196 -195 -194]
 [-293 -292 -291]
 [-390 -389 -388]]
x * y:
 [[ 100  200  300]
 [ 800 1000 1200]
 [2100 2400 2700]
 [4000 4400 4800]]
x / y:
 [[0.01       0.02       0.03      ]
 [0.02       0.025      0.03      ]
 [0.02333333 0.02666667 0.03      ]
 [0.025      0.0275     0.03      ]]

Full set of rules for broadcasting: https://numpy.org/doc/stable/user/basics.broadcasting.html.

# Part 2: Taichi

Full documentation: https://docs.taichi-lang.org/

## Section 1: Function Decorators

Taichi needs to decorate its functions with annotations, as a way to signal to Python that these functions need to be executed by Taichi (optimized, in parallel, etc.) rather than by Python.

More info: https://docs.taichi-lang.org/docs/kernel_function

**`@ti.kernel`**: annotation for an **entry point** from Python into Taichi. It's called from a Python function, in order to use Taichi's computational optimizations.

Example: `main()` function in `A1.py` is a **Python** function (it's not annotated), and it calls the `render()` function in `renderer.py`, which is annotated with `@ti.kernel`.

In [ ]:
# In A1.py

def main():
    scene_data = load_scene_data(SceneName.CORNELL_BOX)
    renderer = A1Renderer(scene_data=scene_data, width=512, height=512)
    window = ti.ui.Window("Interactive Renderer", res=renderer.canvas.shape)
    controller = CameraController(renderer.camera, window)

    def control_panel(shader_mode): ...

    while window.running:
        controller.update()
        control_panel(renderer.shade_mode[None])
        renderer.render()
        window.get_canvas().set_image(renderer.canvas)
        window.show()

In [ ]:
  # In renderer.py

  @ti.kernel
  def render(self):
      # Note the loop over `ti.ndrange`: it allows us to loop over all the pixels in parallel!

      '''
      This forloop will generate, every combination of (x, y) pairs from range (0, width) for x, and (0, height) for y
      '''

      for x,y in ti.ndrange(self.width, self.height):
          primary_ray = self.camera.generate_ray(x,y)
          color = self.shade_ray(primary_ray)
          self.canvas[x,y] = color

**`@ti.func`**: annotation for a function that can **only** be used by Taichi functions (i.e. functions annotated with either `@ti.kernel` or `@ti.func`. Python functions **cannot** use these functions.

Example: `generate_ray()` function in `camera.py`, called by `render()`, is annotated with `@ti.func`. If the annotation was removed, it would cause an error. If it was called by `main()` directly, it would also cause an error.

In [ ]:
# In camera.py

@ti.func
def generate_ray(self, pixel_x: int, pixel_y: int, jitter: bool = False) -> Ray:
    # TODO: Generate Ray

In Taichi, functions **must include type hinting!** You must specify whether an argument is an int, float, etc., otherwise the function will throw an error.

## Section 2: Taichi Datatypes

On top of some Python types like `int` and `float`, Taichi defines its own datatypes for use in its functions.

**NOTE**: Taichi functions are NOT compatible with Python's `str` and `list` types. Lists need to be converted into numpy arrays.

`my_numbers = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]`

`np_numbers = np.array(my_numbers)`

**WARNING**: Taichi is *statically typed*, like Java or C++. If you're inside a function annotated with `@ti.func` or `@ti.kernel`, once you initialize a variable with some type, **you cannot change its type, and Taichi will automatically type cast whatever you wrote into the variable's original type.**

More info: https://docs.taichi-lang.org/docs/type

### Vectors and Matrices

`ti.math` (abbreviated to `tm`) defines many useful math operations and types.

**`tm.vec2`**, **`tm.vec3`**, **`tm.vec4`** are types that support vector operations. They also support *swizzling* (their elements can be accessed using `xyzw` or `rgba`, and new vectors will be created automatically).

**`tm.mat2`**, **`tm.mat3`**, **`tm.mat4`** are types that support matrix operations.

Most useful operations:
*   cross product: `tm.cross`
*   dot product: `tm.dot`
*   vector normalization `tm.normalize`
*   measuring distance: `tm.length` for vectors, `tm.distance` for two points
*   basic math functions:  `tm.sin, tm.radians`, etc.
*   matrix multiplication: `tm.mat2([[1, 2],[3, 4]]) @ tm.vec2(5, 6)`
*   overloads of basic math operations (per-element): `+ - *`, etc.

List of all the available functions: https://docs.taichi-lang.org/api/taichi/math/

![image.png]()

### dataclass and data_oriented

**`@ti.dataclass`** is a decorator for classes. This allows custom classes to be used by Taichi. If this class uses functions, they can be annotated with `@ti.func`, but NOT with `@ti.kernel`.

More about functions associated with dataclasses: https://docs.taichi-lang.org/docs/dataclass#associate-functions-with-the-struct-type

Example: `HitData` class, defined in `ray.py`

In [ ]:
# In ray.py

# Note that the attributes are defined outside an init function!
@ti.dataclass
class HitData:
    is_hit: bool
    is_backfacing: bool
    triangle_id: int
    distance: float
    barycentric_coords: tm.vec2
    normal: tm.vec3
    material_id: int


If your custom class needs to be accessed by Python (i.e. have a kernel), then the class must be annotated with **`@ti.data_oriented`**.

Example: `Camera` class, defined in `camera.py`

In [ ]:
# In camera.py

@ti.data_oriented
class Camera:

    def __init__(self, width: int = 128, height: int = 128) -> None: ...

    def set_camera_parameters(self, eye: tm.vec3 = None,
                              at: tm.vec3 = None, up: tm.vec3 = None,
                              fov: float = None ) -> None: ...

    # The class is allowed to have a kernel!
    @ti.kernel
    def compute_matrix(self):
        # TODO: Compute Camera to World Matrix

A `data_oriented` class needs an `__init__` in order to define the attributes. All attributes need to be declared beforehand (even if they're not initialized). All these attributes need to be declared as fields:

In [ ]:
# In camera.py

def __init__(self, width: int = 128, height: int = 128) -> None:

    # These two attributes get immediately filled.
    # No need to explicitly allocate space for them
    self.width = width
    self.height = height


    # This attribute is just a float/int (a "0D" array, i.e. not an array)
    # It will be filled later, but the memory needs to be allocated first.
    self.fov = ti.field(shape=(), dtype=float)

    # If you want to access / change these attributes:
    self.fov[None] = 12.0


    # This attribute is a 0D array of vectors (i.e. one vector)
    # Specify the dimention of the VECTORS with n
    # Specify the shape of the ARRAY with shape
    self.eye = ti.Vector.field(n=3, shape=(), dtype=float)

    # This vector is compatible with tm.vec3
    self.eye[None] = tm.vec3([0, 0, 5])


    # This attribute is a 0D array of matrices (i.e. one matrix)
    # n is the number of rows, m is the number of columns
    self.camera_to_world = ti.Matrix.field(n=4, m=4, shape=(), dtype=float)

    # This matrix is compatible with tm.mat4
    self.camera_to_world[None] = tm.mat4([[0,0,0,0], [1,1,1,1], [2,2,2,2], [3,3,3,3]])

    # Specific elements can also be accessed
    self.camera_to_world[None][1, 2] = 6

More info about fields: https://docs.taichi-lang.org/docs/field

## Section 3: Taichi Math examples

In [ ]:
# %pip install taichi

Collecting taichi
  Downloading taichi-1.7.2-cp310-cp310-manylinux_2_27_x86_64.whl.metadata (12 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from taichi) (1.26.4)
Collecting colorama (from taichi)
  Downloading colorama-0.4.6-py2.py3-none-any.whl.metadata (17 kB)
Collecting dill (from taichi)
  Downloading dill-0.3.8-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: rich in /usr/local/lib/python3.10/dist-packages (from taichi) (13.8.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich->taichi) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich->taichi) (2.16.1)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich->taichi) (0.1.2)
Downloading taichi-1.7.2-cp310-cp310-manylinux_2_27_x86_64.whl (55.0 MB)
    55.0/55.0 MB 18.8 MB/s eta 0:00:00
Downloading colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Downloading dill-0.3.8-py3-none-any.whl (116 kB)
    116.3/116.3 kB 7.9 MB/s eta 0:00:00
Installing collected packages: dill, colorama, taichi
Successfully installed colorama-0.4.6 dill-0.3.8 taichi-1.7.2

In [22]:
import taichi as ti
import taichi.math as tm

[Taichi] version 1.7.1, llvm 15.0.4, commit 0f143b2f, linux, python 3.10.14

[I 09/05/24 07:44:58.954 7861] [shell.py:_shell_pop_print@23] Graphical python shell detected, using wrapped sys.stdout

### Vector Math

In [23]:
x = tm.vec3([1, 2, 3])
y = tm.vec3([-2, 4, -8])

print("x: \n", x)
print("y: \n", y)
print("x + y: \n", x + y)
print("x - y: \n",x - y)
print("x * y: \n",x * y)
print("x / y: \n",x / y)

# this crashes! can't called taichi functions inside a python scope
# print("x dot y: \n", tm.dot(x, y))

x:
 [1. 2. 3.]
y:
 [-2.  4. -8.]
x + y:
 [-1.  6. -5.]
x - y:
 [ 3. -2. 11.]
x * y:
 [ -2.   8. -24.]
x / y:
 [-0.5    0.5   -0.375]

In [24]:
# solution: call taichi math operations inside a kernel
ti.init(arch=ti.cpu)

x = tm.vec3([1, 2, 3])
y = tm.vec3([-2, 4, -8])

@ti.kernel
def dot_prod(x: tm.vec3, y: tm.vec3)->ti.f32:
    return tm.dot(x, y)
print("x dot y: \n", dot_prod(x, y))

@ti.kernel
def cross_prod(x: tm.vec3, y: tm.vec3)->tm.vec3:
    return tm.cross(x, y)
print("x cross y: \n",cross_prod(x, y))

@ti.kernel
def add_normalize_vecs(x: tm.vec3, y: tm.vec3)->tm.vec3:
    return tm.normalize(x+y)
print("(x + y)/||x+y||: \n",add_normalize_vecs(x, y))

[Taichi] Starting on arch=x64
x dot y:
 -18.0
x cross y:
 [-28.   2.   8.]
(x + y)/||x+y||:
 [-0.12700012  0.7620008  -0.63500065]

### Matrix Ops

In [25]:
x = tm.vec3([1, 2, 3])
y = tm.vec3([-2, 4, -8])
z = tm.vec3([-1, 1, 0])

# you can initialize a matrix from vectors
matrix_xyz = tm.mat3([x, y, z])
print("matrix_xyz \n",matrix_xyz)
print("matrix_xyz.T \n",matrix_xyz.transpose())

# you can also initialize it from vectors by manually populating
# useful when you need to construct a specific by packing different vectors in different order (camera to world matrix)
matrix_xyz = tm.mat3(
            [x.x,y.x,z.x],
            [x.y,y.y,z.y],
            [x.z,y.z,z.z]
            )

print("matrix_xyz Manual\n",matrix_xyz)

matrix_xyz
 [[ 1.  2.  3.]
 [-2.  4. -8.]
 [-1.  1.  0.]]
matrix_xyz.T
 [[ 1. -2. -1.]
 [ 2.  4.  1.]
 [ 3. -8.  0.]]
matrix_xyz Manual
 [[ 1. -2. -1.]
 [ 2.  4.  1.]
 [ 3. -8.  0.]]

In [26]:

print("Matrix Vector mult \n",matrix_xyz @ y)
print("Matrix Matrix mult \n",matrix_xyz @ matrix_xyz)

Matrix Vector mult
 [ -2.   4. -38.]
Matrix Matrix mult
 [[ -6.  -2.  -3.]
 [ 13.   4.   2.]
 [-13. -38. -11.]]

### Trig Ops

In [ ]:
# trig functions are part of the tm class, need a taichi kernel!
# tm.radians(60) <-- crashes

In [27]:
@ti.kernel
def degree_pi()->ti.f32:
  return tm.degrees(tm.pi)
print("pi \n", degree_pi())


@ti.kernel
def tan()->ti.f32:
  return tm.tan(tm.radians(60/2))
print("tan 30 degrees in radians \n", tan())

pi
 180.0
tan 30 degrees in radians
 0.5773502588272095

### Branching

"Currently, Taichi only supports one return statement, and the return statement must not appear in scopes inside non-static if/for/while."

In [37]:
@ti.kernel
def branching(x: ti.f32)->bool:
  if x > 0:
    return True
  else:
    return False

print("branching:  \n", branching(1))

TaichiSyntaxError:
File "/tmp/ipykernel_7861/2151365856.py", line 4, in branching:
    return True
    ^^^^^^^^^^^
Return inside non-static if/for is not supported (<string>)

In [38]:
@ti.kernel
def branching(x: ti.f32)->bool:
    res = False
    if x > 0:
        res = True
    else:
        res = False
    return res
 


print("branching:  \n", branching(1))
print("branching:  \n", branching(1))

branching:
 1
branching:
 1

## Taichi Architectures

At the beginning of every main script, you will see a `ti.init()` call. This is how we initialize the taichi compiler. The important part of this call is the `arch` argument. This specifies to the compiler, which hardware acceleration to use. ex: `ti.init(arch=ti.gpu)`

- if `ti.gpu` is selected, taichi will automatically detect the GPU backend for you
  - if you have an *NVIDIA* gpu with cuda enabled, taichi will default to `ti.cuda`
  - if you have a Mac with an M-series chip, taichi will default to `ti.metal`
  - if you don't have either, taichi will simply detect the best architecture ex: `ti.vulkan`
- if none of the GPU options are available, taichi will default to `ti.cpu`

Generally, you will always keep the setting as `ti.gpu`. However, if you *do* have an nvidia GPU but not enough VRAM, taichi will still pick `ti.cuda`, but then crash, and tell you that you do not have enough resources. In this case, you can manually try another architecture.